{% extends 'base.html' %}
{% block content %}

 <h1>Edit Tag #{{ tag.id }}</h1>
  <form action="{{ url_for('update_tag', tag_id=tag.id) }}?_method=patch" method="post">
    <div class="form-group">
      <label for="genre">Tag</label>
      <input type="text" class="form-control" id="genre" value="{{ tag.genre }}" placeholder="Tag genre" name="genre">
    </div>
    <button type="submit" class="btn btn-default">Edit This Tag</button>
    <a href="{{ url_for('index_tag') }}" class="btn btn-warning">Never mind, go back</a>
  </form>
{% endblock%}